<#assign pageId = UUIDUtils.getUUID() >
<div class="bjui-pageContent">
    <form class="pageForm" action="sys/dept/add"  data-toggle="validate" data-alertmsg="false" data-reload-navtab="true">
    	<input type="hidden" id="upperDeptId_${pageId}" name="upperDeptId" value="${bo.upperDeptId}"/>
    	<input type="hidden" name="orderNo" value="${bo.orderNo}"/>
        <table class="table table-condensed table-hover">
            <tbody>
                <tr>
                    <td>
                        <label for="upperDeptName_${pageId}" class="control-label x90">上级部门：</label>
                        <input type="text" id="upperDeptName_${pageId}" name="upperDeptName" value="${bo.upperDeptName}" data-rule="required;length[~100]"  placeholder="请选择上级部门" readonly size="20" >
                    </td>
                </tr>
                <tr>
                	<td>
                        <label for="deptName_${pageId}" class="control-label x90">部门名：</label>
                        <input type="text" id="deptName_${pageId}"  name="deptName"  data-rule="required;length[~100]" maxlength="100" size="20" >
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-green">保存</button></li>
    </ul>
</div>
<script>
(function(curdlg){
	<#if !bo.upperDeptId??>//如果是从ztree打开的新增，则禁止更改父机构
	deptSelect.singleSelect(1,$("#upperDeptName_${pageId}",curdlg),function(deptSelected){
		$("#upperDeptId_${pageId}",curdlg).val(deptSelected.deptId);
		$("#upperDeptName_${pageId}",curdlg).val(deptSelected.deptName);
		if(!deptSelected.deptId) return;//弹出框清空
		//计算orderNo
		var treeObj = $.fn.zTree.getZTreeObj("${deptTreeId}");
		var treeNode = treeObj.getNodeByParam("deptId", deptSelected.deptId, null);
		$("input[name='orderNo']",curdlg).val(Common.isEmpty(treeNode.children)?1:treeNode.children.length+1);
	});
	</#if>
})($.CurrentDialog);
</script>