<#assign pageId = UUIDUtils.getUUID() >
<div class="bjui-pageContent">
    <form id="roleGroupForm" class="pageForm" action="sys/role_group/edit"  data-toggle="validate" data-alertmsg="false" data-reload-navtab="true">
    	<input type="hidden" name="roleGroupId" value="${bo.roleGroupId}"/>
    	<input type="hidden" id="upperRoleGroupId_${pageId}" name="upperRoleGroupId" value="${bo.upperRoleGroupId}"/>
    	<input type="hidden" name="orderNo" value="${bo.orderNo}"/>
        <table class="table table-condensed table-hover">
            <tbody>
                <tr>
                    <td>
                        <label for="upperRoleGroupName_${pageId}" class="control-label x90">上级角色组：</label>
                        <input type="text" id="upperRoleGroupName_${pageId}" name="upperRoleGroupName" value="${bo.upperRoleGroupName}" data-rule="required;length[~100]" placeholder="请选择上级角色组" readonly size="20" >
                    </td>
                </tr>
                <tr>
                	<td>
                        <label for="roleGroupName_${pageId}" class="control-label x90">角色组名：</label>
                        <input type="text" id="roleGroupName_${pageId}"  name="roleGroupName"  value="${bo.roleGroupName}" data-rule="required;length[~100]" maxlength="100" size="20" >
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-green">保存</button></li>
    </ul>
</div>
<script>
(function(curdlg){
	roleGroupSelect.singleSelect(1,$("#upperRoleGroupName_${pageId}",curdlg),function(roleGroupSelected){
		$("#upperRoleGroupId_${pageId}",curdlg).val(roleGroupSelected.roleGroupId);
		$("#upperRoleGroupName_${pageId}",curdlg).val(roleGroupSelected.roleGroupName);
	});
})($.CurrentDialog);

</script>